{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Document</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ document.url }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ document.alt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('document_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
